@if (mediaDetail) {
  <div class="media-detail-page">
    <div
      class="backdrop-container"
      [style.background-image]="
        'url(' + getBackdropUrl(mediaDetail.backdrop_path) + ')'
      "
    >
      <div class="overlay"></div>
    </div>

    <div class="detail-content">
      <div class="poster-container">
        <img
          [ngSrc]="getPosterUrl(mediaDetail.poster_path)"
          [width]="mediaDetail.poster_path ? '400' : '200'"
          [height]="mediaDetail.poster_path ? '600' : '300'"
          [alt]="mediaDetail.title || mediaDetail.name"
          class="detail-poster"
        />
      </div>

      <div class="info-container">
        <h1>{{ mediaDetail.title || mediaDetail.name }}</h1>
        @if (mediaDetail.tagline) {
          <p class="tagline">{{ mediaDetail.tagline }}</p>
        }
        @if (mediaDetail.genres && mediaDetail.genres.length > 0) {
          <span>Genres : {{ getGenresList() }} </span>
        }
        <span
          >Note : {{ mediaDetail.vote_average | number: "1.1-1" }} / 10 ({{
            mediaDetail.vote_count
          }}
          votes)</span
        >
      </div>
      <h3>Synopsis</h3>
      <p class="overview">{{ mediaDetail.overview }}</p>
    </div>
    <button class="back-button" (click)="goBack()">Retour</button>
  </div>
} @else {
  <ng-template #loading>
    <p class="loading-message">Chargement des détails du média...</p>
  </ng-template>
}
