<div class="home-page">
  <section>
    <h1>Popular Movies</h1>

    @if (popularMovies.length > 0) {
      <div class="media-grid">
        @for (movie of popularMovies; track movie.id) {
          <app-media-card [media]="movie"></app-media-card>
        } @empty {
          <p>Aucun film populaire trouvé pour le moment.</p>
        }
      </div>
    } @else {
      <p>Data loading...</p>
    }
  </section>

  <section>
    <h1>Popular TV Shows</h1>

    @if (popularTvShows.length > 0) {
      <div class="media-grid">
        @for (tvShow of popularTvShows; track tvShow.id) {
          <app-media-card [media]="tvShow"></app-media-card>
        } @empty {
          <p>Aucune série télé populaire trouvée pour le moment.</p>
        }
      </div>
    } @else {
      <p>Data loading...</p>
    }
  </section>
</div>
