<div class="home-page">
  <section>
    <h1>
      @if (currentSearchQuery.length > 0) {
        Search results for "{{ currentSearchQuery }}"
      } @else {
        Popular Movies
      }
    </h1>

    @if (isLoading) {
      <div class="loading-container">
        <div class="spinner"></div>
        <p>Loading...</p>
      </div>
    } @else {
      @if (popularItems.length > 0) {
        <div class="media-grid">
          @for (item of popularItems | slice: 0 : 5; track item.id) {
            <app-media-card [media]="item"></app-media-card>
          } @empty {
            <p>No media found.</p>
          }
        </div>

        <div class="pagination-controls">
          <button
            (click)="prevPage()"
            [disabled]="currentPage === 1"
            class="pagination-button"
          >
            Previous
          </button>

          @for (page of pageNumbers; track page) {
            <button
              (click)="goToPage(page)"
              [class.active]="currentPage === page"
              class="pagination-button page-number-button"
            >
              {{ page }}
            </button>
          }

          <button
            (click)="nextPage()"
            [disabled]="currentPage === totalPages"
            class="pagination-button"
          >
            Next
          </button>
        </div>
      } @else {
        <p>No media found.</p>
      }
    }
  </section>
</div>
